UKDA-6614-tab/
sharew*
data/easySHARE*
MPN_statement_EN_2022_1.7.5.pdf
__pycache__/
*comments.md
*.pdf
synthetic_exp_problem_explanations.md
things_to_do_or_update.md
diagram*
scopus_search_notes.md

# docs
docs/_build/
docs/_autosummary/
docs/_doctrees/